$iconSpritePath: ''
$iconWhiteSpritePath: ''
@import bootstrap
@import bootstrap/responsive

@import compass
@import colors
@import typography

/** Page Layout styles **/
body
  padding-top: 40px
  padding-bottom: 60px
  color: $text-color
  font-family: $font-family
  font-weight: $font-weight-normal
  font-size: $font-size-normal
  background-color: $light_gray

@media (max-width: 979px)
  body
    padding-top: 0

section
  margin: 0 0 25px 0

article
  margin: 0 0 25px

a, a:visited, a:hover
  color: $red
  text-decoration: none

a:visited
  color: $dark-red

a:hover
  color: $blue

.container
  position: relative

/** Page Styles **/
#rubyloco-logo
  display: block
  margin: auto
  width: 280px
  +border_radius($radius-size)
  margin-top: 20px
  margin-bottom: 15px

.navbar-fixed-bottom
  background-color: $dark_gray

.footer
  +clearfix
  p
    padding-top: 10px
    color: $white

.nav
  float: right
  color: $white
  padding: 10px
  margin: 0
  li
    margin: 0 10px
  a
    color: $white
    +unstyled-link
  a:hover
    background-color: transparent !important

h3.list-header
  color: $white
  background-color: $dark_gray
  margin-bottom: 0
  margin-top: 0
  padding-left: 20px
  +border-top-left-radius($radius-size)
  +border-top-right-radius($radius-size)
  font-weight: $font-weight-bold
  font-size: $font-size-large
.list-block
  .list-body
    padding-bottom: $radius_size
    background-color: $off_white
    +border-bottom-left-radius($radius-size)
    +border-bottom-right-radius($radius-size)
    +clearfix
  #events
    ul
      margin-left: 0
      li
        background-color: $off_white
        padding: 10px 20px
        list-style: none
        color: $gray
        position: relative
        +clearfix
        border-bottom: 1px solid #eaebeb
        &.last
          border: none
        .thumb
          height: 100%
          width: 70px
          position: absolute
          a.event-thumb
            margin-right: 15px
            min-height: 107px
            img
              width: 60px
              height: 60px
              +border_radius($radius-size)
        .event-details
          float: left
          font-size: $font-size-small
          margin-left: 80px
          .name
            display: block
            color: $dark_gray
            margin: 0px
            font-size: $font-size-normal
            line-height: $line-height-normal
          .meta
            span
              white-space: nowrap
              strong
                color: $dark_gray
          .description
            display: block
            margin: 0px

.main
  padding: 0px 20px
  .callout, .sponsors
    font-size: $font-size-small
    font-weight: $font-weight-bold
    padding-top: 25px
    .centered
      text-align: center
    .justified
      text-align: justify
  h1.logo
    margin: 0
    text-align: center
    font-size: $font-size-xlarge

#sponsors
  text-align: center
  h4
    padding: 0
    margin: 0 0 20px 0
  .sponsor
    width: 120px
    background-color: $off-white
    padding: 10px
    +border_radius(10px)
    margin: 10px
    &:hover
      +single-box-shadow(#999)

#about
  background-color: $white
  padding: 20px
  font-size: $font-size-small
  p
    font-size: $font-size-small

#photos
  background-color: $white
  padding: 0 20px

  img
    margin: 5px
    max-width: 47%
