%h3{class: "list-header", role: "main"}
  %i{class: "icon-bullhorn icon-large icon-fixed-width", aria: {hidden: "true"}}
  Upcoming Events
#events.list-body
  .text-center.muted
    %i.icon-spinner.icon-spin.icon-jumbo

%script#event-template{ type: 'text/x-handlebars-template' }
  .event
    = link_to "{{event_url}}", class: "thumb" do
      %img{ src: "{{thumb_src}}", alt: "Ruby Loco Skull Logo" }
    .event-details
      %h2.name
        %a{ href: "{{event_url}}", class: "event-name",   aria: { label: "{{name}} on {{date}}" }} {{name}}
      %a{ href: "{{event_url}}", role: "button", class: "btn btn-primary rsvp",  aria: { label: "RSVP — {{name}} on {{date}}" } } RSVP
      .description {{description}}
      .meta
        %span when: <strong>{{date}}</strong>
        |
        %span where: <strong>{{venue.name}}</strong>
        |
        %span attending: <strong>{{yes_rsvp_count}}</strong>
