.row-fluid
  %div.span4.offset1
    = image_tag "https://secure.gravatar.com/avatar/39ea1010c60a77fc681b38fdbee13556?s=420", id: 'rubyloco-logo'
    %div.callout
      #{data.site.name} meets on the second Monday and the last Friday of every month. #{link_to "Follow us", "http://twitter.com/ruby_loco"} on Twitter for details

      <a href="https://twitter.com/ruby_loco" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ruby_loco</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    %div.sponsors
      %h3 Support Our Sponsors
      - data.sponsors.each do |sponsor|
        = link_to image_tag(sponsor.image, :height => '90', :width => '90'), sponsor.url

  %ul#events.span5.offset1

  %script#event-template{ type: 'text/x-handlebars-template' }
    %li.event
      %h2 {{name}}
      %h3.date {{date}}
      .venue {{venue.name}}
      %a{ href: "{{event_url}}" } {{event_url}}
      .rsvp attending: {{yes_rsvp_count}}
      .description {{description}}

