.row-fluid
  = image_tag "https://secure.gravatar.com/avatar/39ea1010c60a77fc681b38fdbee13556?s=420", id: 'rubyloco-logo', class: 'span4 offset1'

  %ul#events.span5.offset1

.row-fluid
  %h3 Sponsors
  = link_to image_tag('stickermule.png', :height => '90', :width => '90'), 'http://stickermule.com'
  = link_to image_tag('busyconf.png', :height => '90', :width => '90'), 'http://busyconf.com'

  <a href="https://twitter.com/ruby_loco" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ruby_loco</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


  %script#event-template{ type: 'text/x-handlebars-template' }
    %li.event
      %h2 {{name}}
      %h3.date {{date}}
      .venue {{venue.name}}
      %a {{event_url}}
      .rsvp attending: {{yes_rsvp_count}}
      .description {{description}}

  %ul#events.span5.offset1
