.list-block.span6
  %h3.list-header Upcoming Events
  #events.list-body
    %ul

%script#event-template{ type: 'text/x-handlebars-template' }
  %li.event
    .thumb.span1
      %a{ href: "{{event_url}}", class: "event-thumb" }
        %img{ src: "{{thumb_src}}" }
    .event-details
      %a{ href: "{{event_url}}", class: "event-name" }
        %h2.name {{name}}
      %description {{description}}
      .meta
        %span="when: <strong>{{date}}</strong> |"
        %span="where: <strong>{{venue.name}}</strong> |"
        %span="attending: <strong>{{yes_rsvp_count}}</strong>"

-content_for(:nav) do
  .nav
    =link_to "Photos", "/photos", :class => "first"
    =link_to "About", "/about"
