%h3.list-header
  %i.icon-camera-retro.icon-large.icon-fixed-width
  Photos
#photos.list-body

%script#photo-template{ type: 'text/x-handlebars-template' }
  %a{href: "{{highres_link}}" }
    %img.photo{ src: "{{photo_link}}", data: { toggle: "tooltip", placement: "bottom", html: "true" }, title: "Uploaded on {{date}} by {{member.name}}" }
